body {
	margin: 0;
	display: flex;
}

h1 {
	text-align: center;
}

table {
	margin: 8px auto;

}

th {
	cursor: pointer;
}

th:hover {
	color: blue;
	text-decoration: underline;
}

#main {
	margin: 0 auto;
}

#week-picker-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 12px;
}

#games {
	max-width: 1200px;
}

#search-wrapper {
	margin: 8px auto;
    display: flex;
    justify-content: center;
}

.game {
	font-size: .75rem;
	border: solid 1px black;
   	display: inline-block;
   	padding: 8px;
   	height: 90px;
   	width: 90px;
}

.game div:first-child {
	font-weight: 800;
}

.game-pick-cb:checked {
 	pointer-events: none;
}

.sort-ascending:after {
	content: "\25B2";
}

.sort-descending:after {
	content: "\25BC";
}

.hide {
	display: none;
}
